Source: wb-mqtt-zigbee
Section: misc
Priority: optional
Maintainer: Wiren Board team <info@wirenboard.com>
Build-Depends: debhelper-compat (= 11),
               dh-python,
               python3-all
Homepage: https://github.com/wirenboard/wb-mqtt-zigbee
Standards-Version: 4.5.1

Package: wb-mqtt-zigbee
Architecture: all
Depends: ${python3:Depends},
         ${misc:Depends},
         python3-wb-common (>= 2.1.0~~)
Conflicts: wb-zigbee2mqtt
Replaces: wb-zigbee2mqtt
Description: Wiren Board Zigbee2MQTT bridge
 Translates zigbee2mqtt MQTT messages to Wiren Board MQTT Conventions.
