Source: wb-zigbee2mqtt
Section: misc
Priority: optional
Maintainer: Wiren Board team <info@wirenboard.com>
Build-Depends: debhelper-compat (= 11),
               dh-python,
               python3-all
Homepage: https://github.com/wirenboard/wb-zigbee2mqtt-v2
Standards-Version: 4.5.1

Package: wb-zigbee2mqtt
Architecture: all
Depends: ${python3:Depends},
         ${misc:Depends},
         python3-wb-common (>= 2.1.0~~)
Description: Wiren Board Zigbee2MQTT bridge v2
 Translates zigbee2mqtt MQTT messages to Wiren Board MQTT Conventions.
